@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

#container{
    display: flex;
}

.card{
    background: linear-gradient(#D0E3E3, #BDE9F1);
    width: 300px;
    padding: 30px 20px 20px;
    border-radius: 15px;
}

.card img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.card h1{
    font-weight: 500;
}

.card h3{
    font-weight: 400;
    opacity: 0.7;
}

.card #tags{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

#tags h5{
    padding: 7px 15px;
    border: none;
    background-color: #E2EBED;
    border-radius: 20px;
}

.card #details{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
    text-align: center;
    justify-content: space-between;
}

#left h2{
    display: flex;
    align-items: center;
    gap: 4px;
}

#left i{
    font-size: 20px;
    margin-bottom: 2px;
}

#left h2, #center h2, #right h2{
    font-size: 24px;
    font-weight: 600;
}

#left h3, #center h3, #right h3{
    opacity: 0.6;
    font-size: 18px;
}

#bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

#bottom button{
    padding: 15px 40px;
    border-radius: 20px;
    border: 3px solid hsl(180, 9%, 96%);
    font-weight: 700;
    font-size: 18px;
    background-color: transparent;
}

#bottom img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: hsl(180, 9%, 96%);
    padding: 10px;
}