@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;          
    padding: 30px 60px;       
}


.card{
    background: linear-gradient(#F0F0F0, #9dd2db);
    width: 300px;
    padding: 30px 20px 20px;
    border-radius: 15px;
    margin-bottom: 20px; 
    backdrop-filter: blur(5px);
    transition: all 0.4s ease;
}

.card:hover {
    transform: translateY(-8px) scale(1.07);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.card img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.card h1{
    font-weight: 500;
}

.card h3{
    font-weight: 400;
    opacity: 0.7;
}

.card #tags{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    cursor: pointer;
}

#tags h5{
    padding: 7px 15px;
    border: none;
    background-color: #E2EBED;
    border-radius: 20px;
}

.card #details{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
    text-align: center;
    justify-content: space-between;
}

#left h2{
    display: flex;
    align-items: center;
    gap: 4px;
}

#left i{
    font-size: 20px;
    margin-bottom: 2px;
}

#left h2, #center h2, #right h2{
    font-size: 24px;
    font-weight: 600;
}

#left h3, #center h3, #right h3{
    opacity: 0.6;
    font-size: 18px;
}

#bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

#bottom button{
    padding: 15px 40px;
    border-radius: 20px;
    border: 3px solid hsl(180, 9%, 96%);
    font-weight: 700;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
}

button:active{
    scale: 0.9;
    transition: all ease 0.4s;
}

#bottom img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: hsl(180, 9%, 96%);
    padding: 10px;
    cursor: pointer;
}

#bottom img:hover{
    scale: 1.1;
    transition: all ease 0.4s;
}